@import "tailwindcss";

/* crimson-pro-latin-400-normal */
@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  size-adjust: 115%;
  src: url(@fontsource/crimson-pro/files/crimson-pro-latin-400-normal.woff2) format('woff2'), url(@fontsource/crimson-pro/files/crimson-pro-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* crimson-pro-latin-600-normal */
@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  size-adjust: 115%;
  src: url(@fontsource/crimson-pro/files/crimson-pro-latin-600-normal.woff2) format('woff2'), url(@fontsource/crimson-pro/files/crimson-pro-latin-600-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* crimson-pro-latin-400-italic */
@font-face {
  font-family: 'Crimson Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  size-adjust: 115%;
  src: url(@fontsource/crimson-pro/files/crimson-pro-latin-400-italic.woff2) format('woff2'), url(@fontsource/crimson-pro/files/crimson-pro-latin-400-italic.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* crimson-pro-latin-600-italic */
@font-face {
  font-family: 'Crimson Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  size-adjust: 115%;
  src: url(@fontsource/crimson-pro/files/crimson-pro-latin-600-italic.woff2) format('woff2'), url(@fontsource/crimson-pro/files/crimson-pro-latin-600-italic.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@theme {
  --font-serif: 'Crimson Pro', 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;


  --color-gold: #FFA041;
  --color-welk: #220f21;

  --color-fell: #ecddcd;
  --color-fell-light: #f6f1ec;
}
